In [ ]:
# Task-1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

import pandas as pd
import numpy as np

In [ ]:
data = np.random.rand(4,4)

In [ ]:
df = pd.DataFrame(data, columns = ['s1','s2','s3','s4'])
df

         s1        s2        s3        s4
0  0.403608  0.560352  0.638685  0.368708
1  0.872921  0.729983  0.465587  0.281136
2  0.811083  0.517014  0.478528  0.996154
3  0.531335  0.950272  0.025520  0.781696

In [ ]:
# Task-2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.403608        0.560352        0.638685        0.368708
1        0.872921        0.729983        0.465587        0.281136
2        0.811083        0.517014        0.478528        0.996154
3        0.531335        0.950272        0.025520        0.781696

In [ ]:
# Task-3 Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.654737        0.689405        0.402080        0.606924
std          0.223862        0.196699        0.263095        0.339082
min          0.403608        0.517014        0.025520        0.281136
25%          0.499403        0.549517        0.355570        0.346815
50%          0.671209        0.645167        0.472057        0.575202
75%          0.826542        0.785055        0.518567        0.835310
max          0.872921        0.950272        0.638685        0.996154

In [ ]:
# Task-4 Check for the null values in 'df' and find the data type of the columns.

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
df['Random value 1'].dtype

dtype('float64')

In [ ]:
df['Random value 2'].dtype

dtype('float64')

In [ ]:
df['Random value 3'].dtype

dtype('float64')

In [ ]:
df['Random value 4'].dtype

dtype('float64')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [ ]:
#Task-5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
df.loc[:,['Random value 2','Random value 3']] #Columns using location Method

   Random value 2  Random value 3
0        0.560352        0.638685
1        0.729983        0.465587
2        0.517014        0.478528
3        0.950272        0.025520

In [ ]:
df.iloc[:,[1,2]] #Cloumns using index location Method

   Random value 2  Random value 3
0        0.560352        0.638685
1        0.729983        0.465587
2        0.517014        0.478528
3        0.950272        0.025520